.header{
  height: 150px;
  background-image: url(../img/pic.jpg);
  background-repeat: no-repeat; 
  background-size:cover;
  
}
h3{
  color: brown;
}
h1{
  color: #f0f0f0;
  text-align: center;
  padding-top: 50px;
}
p{
  color: cornflowerblue;
}
.blog{
  background: #d19cc4;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/*  */